{{define "content"}}
    <div class="container pt-3">
        <h2>{{.ElectionSetName}}</h2>
        <h4>/voter/{{.ID}}</h4>
        <h4>Passcode: <code>{{.VoterPass}}</code></h4>
    </div>

    {{ $controllerID := .ID }}

    <div class="container">
        {{range .Votes}}
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{{.Position}} <span class="badge badge-secondary">{{.NumPositions}}</span></h3>

                    <ul class="card-text">
                        {{range .Candidates}}
                            <li>{{.}}</li>
                        {{end}}
                    </ul>

                    {{if .Complete}}
                        <h4>Winners:</h4>
                            <ul>
                                {{range .Winners}}
                                    <li>{{.}}</li>
                                {{end}}
                            </ul>
                    {{else}}
                        {{ if .Open }}
                            <a href="/controller/{{$controllerID}}/{{.ID}}/close" class="btn btn-danger" >Close Voting</a>
                        {{ else }}
                            <a href="/controller/{{$controllerID}}/{{.ID}}/open" class="btn btn-success">Open Voting</a>
                        {{end}}
                    {{end}}
                </div>
            </div>
        {{end}}
    </div>
{{end}}